<div class="alien">
    <img ng-src="{{ currentCharacter.image }}" alt="{{ currentCharacter.name }}" class="character">
    <div class="question">
        <div class="balloon" ng-show="currentQuestion.question">
            <div ng-bind-html="currentQuestion.question" id="txtSpeechBalloon" tabindex="0"></div>
            <div class="responses">
                <button ng-repeat="option in currentQuestion.options"
                        ng-click="verifyAnswer($index, option)">{{ option.label }}</button>
                <button class="assistant" ng-click="getHint();">Get Hint</button>
            </div>
            <div class="callout"></div>
        </div>
    </div>
</div>
