<div class="chat" ng-class="{'visible': !chatHidden}">
    <h1 id="txtChatTitle">Space Chat</h1>
    <div class="messages" id="chatMessages" scroll-to-bottom="messages"  tabindex="0"
         ng-if="!chatHidden" role="log"
         aria-live="polite"
         aria-describedby="txtChatTitle">
        <div ng-repeat="msg in messages" class="message" ng-class="{you: messages[$index].character.id ==  0}">
            <div class="avatar">
                <div class="mugshot">
                    <img ng-src="{{messages[$index].character.image}}" alt="">
                </div>
                <div class="name">{{messages[$index].character.name}}</div>
            </div>
            <div class="balloon">
                <div ng-bind-html="msg.question.question"></div>
                <div class="responses">
                    <button ng-if="!msg.question.options.length && msg.question.current" ng-click="postMessage()">Continue</button>
                    <button ng-repeat="option in msg.question.options" ng-click="verifyAnswer(option)" ng-bind-html="option.label"></button>
                </div>
            </div>
        </div>
    </div>
</div>

