<div class="container splash">
	<div class="content">
		<img src="_/img/splash.png" alt="Academic Integrity in Cyberspace">
		<div class="controls">
			<button id="btnStart" ng-show="loaded == 1" ng-click="startGame()">Play Game</button>
			<div ng-hide="loaded == 1">
				<div class="loadingProgress">
					<div class="bar" ng-style="{width: loaded * 100 + '%'}"></div>
				</div>
				<div>Loading...</div>
			</div>
		</div>
	</div>
	<div class="controlbar bottom">
		<div>&nbsp;</div>
		<div style="text-align: center;">This project was made possible with funding by the Government of Ontario and<br>
			through eCampusOntario’s support of the Virtual Learning Strategy.</div>
		<button ng-click="openSettings()" class="round" aria-label="Settings" title="Open settings"><img src="_/img/icon_gear.svg" alt="" class="icon"></button>
	</div>
</div>
